$colors: (
  primary: #fff,
  secondary: #946d7f,
  light-secondary: #c289a3,
  navbar-btn: #da7074,
  dark: #000,
  copyright: #333,
  list: #565656,
);

$breakpoints: (
  small: 767px,
  medium: 992px,
  large: 1200px,
);


$font-primary: 'Playfair Display', Arial, serif;
$font-secondary: 'Montserrat', sans-serif;
