.btn-menu {
  position: relative;
  background: transparent;
  border: none;
  width: 35px;
  height: 20px;
  padding: 0;
  font-size: 1px;
  text-align: right;
  white-space: normal;

  &.active {
    margin: 0;

    .sw-topper {
      top: 10px;
      @include transform(rotate(-45deg));
    }

    .sw-middle {
      opacity: 0;
      @include transform(translateX(-100%));
    }

    .sw-footer {
      top: 10px;
      @include transform(rotate(45deg));
    }
  }

  .sw-topper,
  .sw-middle,
  .sw-footer {
    width: 100%;
    height: 3px;
    background: #fff;
    border-radius: 4px;
    position: absolute;
  }

  .sw-topper {
    top: 5px;
    @include transition(transform 0.5s, top 0.2s);
    @include transition-delay(0.2s, 0s);
  }

  .sw-middle {
    top: 12px;
    width: 80%;
    right: 0;
    @include transition(transform 0.5s, top 0.2s);
  }

  .sw-footer {
    top: 20px;
    @include transition(all 0.5s);
    @include transition-delay(0.1s);
  }
}
