#boot-loader {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  background: none repeat scroll 0 0 #fff;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  height: 100%;
  width: 100%;
  opacity: 1;
  @include transition(opacity 0.5s 400ms);

  .loader-inner {
    background-image: url("../img/preloader.gif");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    position: absolute;
    height: 160px;
    width: 160px;
    margin-top: -80px;
    margin-left: -80px;
    left: 50%;
    top: 50%;
  }
}

.fade-out {
  opacity: 0;
}
