.search {
  display: none;
  position: relative;
  width: 100%;

  input[type="text"] {
    width: 100%;
    border: none;
    padding: 5px 10px;
    padding-right: 40px;
    font-size: 1.2rem;
    background-color: transparent;
    outline: none;
    color: map-get($colors, primary);

    &::-webkit-input-placeholder {
      color: map-get($colors, primary);
    }

    &:-ms-input-placeholder {
      color: map-get($colors, primary);
    }
  }

  .btn-search {
    position: absolute;
    top: 50%;
    margin-top: -19px;
    right: 0;
    z-index: 10;

    &:active {
      padding-top: 2px;
    }
  }
}

.btn-search {
  background: transparent;
  padding: 0;

  &.active {
    @include transform(scalex(-1));
  }

  .icon-search {
    font-size: 1.7rem;
    color: map-get($colors, primary);
  }
}

.btn-show-search {
  @include transition(transform 0.3s, opacity 0.2s 0.1s);
}

.show-search {

  .btn-show-search {
    @include transform(translateX(-200%));
    opacity: 0;
    position: absolute;

    + .btn {
      margin-left: 0;
    }
  }

  .search {
    display: block;
    margin-top: 4px;
  }

  #center-menu {
    display: none;
  }
}
